// MAIN

html,
body {
	background-color: $primary;
}

// Common

a {

	color: $primary-med-dark;

	&:hover,
	&:focus {
		color: $primary-dark;
	}

}

h1,
h2,
h3,
h4 {
	font-family: $heading;
}

h1,
h2 {
	color: $primary-med-dark;
}

form {
	background-color: $primary-light;
}

.button {
	background-color: $highlight;
}

#searchform #searchsubmit {
	background-color: $highlight;
}


// Main Sections

.header-global {
	background-color: $primary-dark;
}

.footer-global {
	background-color: $primary-light;

	.tagline-network {
		color: $primary-med-dark;
	}
}

.footer-local {
	background-color: $primary-med-dark;

	.copyright {
		color: $white;
	}

}


// Nav

@include breakpoint(md) {

	.nav-global {

		.menu {
			a,
			li.current-menu-item a,
			li.current-page-ancestor a,
			&> li a {

				color: $white;

				&:hover,
				&:focus {
					color: $primary-light;
				}
			}

			.sub-menu,
			.current-menu-item .sub-menu {

				a {

					color: $primary-dark !important;

					&:hover,
					&:focus {
						color: $primary;
					}
				}
			}
		}

		// triangle 'on' state
		li.current-page-ancestor:after {
			border-bottom-color: $primary-light;
		}
	}

}

.nav-anchors li > a {
	color: $white;

	&:hover,
	&:focus {
		color: $primary-light;
	}
}


.header-global .site-title a {
	color: $white;
	border-color: $white;

	&:hover,
	&:focus {
		color: $white;
	}
}


// Homepage

.home {

	.home-modules {
		h2 {
			color: $primary-light;
		}
	}

	.highlights .module-heading {
	    background: $primary-dark url('../images/home-highlight.png') no-repeat center center;
	}

	.home-intro {
		background-color: $primary-light;
	}

	.type-post,
	.widget_glocal_network_posts_widget li {
		background-color: $primary-light;
	}

	.sites-list.no-site-image li {
		background-color: $primary-dark;
	}

}


// Posts & Pages

article.post {
	background-color: $primary-light;
}

// Widgets

.widget {
	background-color: $primary-med-dark !important;

	a {
		color: $white !important;
	}
}

// BxSlider

.bx-prev,
.bx-next,
.bx-wrapper .bx-controls-direction a {
	color: $primary-dark;

	&:hover,
	&:focus {
		color: $primary-med-dark;
	}
}


