
html,
body {
	background-color: $primary;
}

.content section {
	@extend %clearfix;

	& > article {
		@extend %clearfix;
	}
}

/***************
* Common
****************/

h1,
h2,
h3,
h4 {
	font-family: $heading;
}

h1,
h2 {
	color: $primary-med-dark;
}

form {
	background-color: $primary-light;
}

input[type="submit"],
input[type="button"],
a.button,
a.cancel,
button {
	background-color: $highlight !important;
	box-shadow: 0 -3px 0 rgba(0, 169, 157, 0.2) inset;

	&:hover,
	&:focus {
		color: $primary-dark !important;
	}
}

#searchform #searchsubmit {
	background-color: $highlight;
}

// Meta
time,
.meta,
.meta *,
.byline,
.blog-name,
.post-date,
.post-author,
.post-author {

	color: $primary-med-light;

	a {
		color: $primary-med-dark;
	}
}

a {

	color: $primary-med-dark;

	&:hover,
	&:focus {
		color: $primary-dark;
	}

}


/***************
* Main Sections
****************/

.header-global {
	background-color: $primary-dark;

	.site-title a {

		background-color: $primary-light;
		color: $primary-dark;
		border-color: $primary-med-dark;

		&:hover,
		&:focus {
			color: $primary-med-dark;
		}
	}
}

.footer-global {
	background-color: $primary-dark;

	a {
		color: $white;

		&:hover,
		&:focus {
			color: $primary-light;
		}
	}

	.tagline-network {
		color: $white;
	}
}

.footer-local {
	background-color: $primary-med-dark;

	.copyright {
		color: $white;
	}

}


/***************
* Nav
****************/

@include breakpoint(md) {

	.nav-global {

		.menu {
			a,
			li.current-menu-item a,
			li.current-page-ancestor a,
			&> li a {

				color: $white;

				&:hover,
				&:focus {
					color: $primary-light;
				}
			}

			.sub-menu,
			.current-menu-item .sub-menu {

				a {

					color: $primary-dark !important;

					&:hover,
					&:focus {
						color: $primary;
					}
				}
			}
		}

		// triangle 'on' state
		li.current-page-ancestor:after {
			border-bottom-color: $primary-light;
		}
	}

}

.nav-anchors li > a {
	color: $white;

	&:hover,
	&:focus {
		color: $primary-light;
	}
}


/***************
* Home Page
****************/


.home {

	.home-modules {
		h2 {
			color: $white;
		}

		.row {
			border-top-color: $hr-color;
		}
	}


	// Backgrounds

	// Intro
	.home-intro {
		background-color: $primary-med-dark;
	}

	// Highlights
	.highlights ul.highlights-list li {
		background-color: $primary-light;
	}

	.highlights .module-heading {
		background: $secondary url('../images/home-highlight.png') no-repeat center center;
		color: $white;
	}

	// Posts
	.widget_glocal_network_posts_widget li {
		background-color: $primary-med-dark;
	}

	// Sites
	.sites-list.no-site-image li  {
		background-color: $secondary;
		color: $white;
	}

	.sites-list.no-site-image li:nth-child(2n) {
		background-color: $complement;
		color: $white;
	}

	.sites-list.no-site-image li:nth-child(3n)  {
		background-color: $tertiary;
		color: $white;
	}

	.sites-list.no-site-image li:nth-child(4n)  {
		background-color: $primary-med-dark;
		color: $white;
	}


	// Intro
	.home-intro {

		// Text
		color: $white;

		// Headings
		h2 {
			color: $white;
		}

		// Meta & Links
		a,
		a:link {
			color: $white;
		}

	}

	// Highlights

	.highlights {

		margin-bottom: 20px;

		// Text
		color: $text-color;

		// Headings
		h4,
		h4 a {
			color: $primary-med-dark;
		}

		// Meta & Links

		ul.highlights-list li .blog-name, 
		ul.highlights-list li .post-date, 
		ul.highlights-list li .post-categories, 
		ul.highlights-list li .meta * {

			color: $primary-med-light;

			a {
				color: $secondary;
			}
		}

	}


	// Network News
	.widget_glocal_network_posts_widget li {

		// Text
		color: $white;

		// Headings
		h4,
		h4 a {
			color: $white;
		}

		// Meta & Links

		meta * {
			color: $primary-light;
		}

		a,
		a:link {
			color: $white;
		}

	}

	// Sites List
	.sites-list.no-site-image li {

		// Text

		// Headings

		// Meta & Links

	}

}


/***************
* Posts & Pages
****************/

article.post {
	background-color: $primary-light;
}

// Widgets

.widget {

	background-color: $primary-med-dark !important;

	a {
		color: $white !important;
	}

	ul {
		border-bottom-color: $hr-alt;
	}

	li {
		border-top-color: $hr-alt;
	}
}

.widget:nth-child(1) {
	background-color: $complement !important;
}

.widget:nth-child(2) {
	background-color: $secondary !important;
}

.widget:nth-child(3) {
	background-color: $tertiary !important;
}


/***************
* BxSlider
****************/

.bx-prev,
.bx-next,
.bx-wrapper .bx-controls-direction a {
	color: $secondary;

	&:hover,
	&:focus {
		color: $primary-med-dark;
	}
}

/***************
* Comments
****************/

.commentlist {

	a {
		color: $primary;
	}

	.even {
		background-color: $primary-light;
	}

	.comment-reply-link {
		background-color: $highlight;
	}

	.vcard time a {
		color: $primary-med-light;
	}
}

/***************
* Civi
****************/

#crm-container {
	input[type="submit"]:hover,
	input[type="submit"]:focus,
	input[type="button"]:hover,
	input[type="button"]:focus,
	.button:hover,
	.button:focus,
	.cancel:hover,
	.cancel:focus {
		color: $white !important;
	}
}


